<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>sdsadsadsadsa</h1>
    <button class="btn" onclick="window.modal_log.showModal();">Ver Log´s</button>
    <dialog id="modal_log" class="modal_menu">
        <div>
          <h2>Acciones:</h2>
          <button class="btn" onclick="window.modal_log.close();">Cerrar</button>
          
        </div>
        <pre>{{ lectura }}</pre>
      </dialog>
</body>
</html>